<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="Name" id="firstname">
    </div>
    <div class="form-group">
        <label for="surname">SurName</label>
        <input type="text" name="SurName" id="Lastname">
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" name="Age" id="age">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="Location" id="location">
    </div>
    <div class="form-group form-footer">
        <button type="button" class="btn btn-success">Save</button>
    </div>
</form>